.wrapper {
  max-width: 450px;
}

.header_nav {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.archive_link {
  color: black;
  display: inline-block;
  margin: 3px;
  margin-bottom: 20px;
}

.archive_link_arrow_back {
  position: relative;
  top: 2px;
}

@media all and (max-width: 481px) {
  .wrapper {
    width: 100%;
  }
}
