.wrapper {
  max-width: 450px;
}

.audio {
  margin-bottom: 20px;
  width: 100%;
}

.stats_wrapper {
  margin-bottom: 20px;
}

.text_wraper div > p {
  font-size: large;
}

.controls_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.controls_title {
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.x_speed_control {
  border-bottom: 1px dotted black;
  cursor: pointer;
  line-height: 1;
  margin-left: 10px;
}

.comment_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.meta_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment_date {
  font-size: smaller;
}

.comment_form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.comment_form_name_input {
  align-self: flex-start;
  margin-bottom: 3px;
}

.comment_form_message_input {
  min-height: 100px;
  width: 100%;
}

.comment_form_submit_btn {
  background-color: #f7df1d;
  border: 2px solid black;
  margin: 10px 0;
  padding: 10px 40px;
}

@media all and (max-width: 481px) {
  .wrapper {
    box-sizing: content-box; /* csslint allow: box-sizing */
    padding: 0 3px;
    width: 100%;
  }

  .x_speed_control {
    margin: 0;
  }

  .controls_wrapper {
    justify-content: space-around;
  }
}
