/*     General overwrite     */
body {
    font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #f7df1d;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer,
iframe {
    text-align: center;
    margin-top: .5cm;
}