.donate,
.main_wrapper {
  max-width: 450px;
}

.title_wrapper {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_wrapper {
  margin-bottom: 20px;
}

.archive_link {
  border: 2px solid black;
  color: black;
  display: block;
  margin-bottom: 20px;
  padding: 10px 40px;
  text-decoration: none;
}

.show_more_wrapper {
  background: linear-gradient(to bottom, rgba(248, 225, 0, 0) 0%, rgb(248, 225, 0) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -21px;
}

.show_more {
  border-bottom: 1px dashed black;
  color: black;
  position: relative;
  text-decoration: none;
  top: 13px;
}

.collapsed {
  max-height: 600px;
  overflow-y: hidden;
}

@media all and (max-width: 481px) {
  .iframe,
  .main_wrapper,
  .donate {
    width: 100%;
  }

  .main_wrapper {
    padding-left: 3px;
    padding-right: 3px;
  }
}
