.donate,
.main_wrapper {
    max-width: 450px;
}

.donate_text {
    text-align: center;
}

.main_wrapper {
    margin-bottom: 20px;
}

.archive_link {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 10px 40px;
    color: black;
}

.show_more {
    text-decoration: none;
    color: black;
    border-bottom: 1px dashed black;
}

@media all and (max-width: 481px) {
    .iframe,
    .main_wrapper,
    .donate {
        width: 100%;
    }

    .main_wrapper {
        padding-left: 3px;
        padding-right: 3px;
    }

    .donate_text {
        text-align: left;
        padding: 0 3px;
    }

}