.donate {
    max-width: 450px;
}

.donate_text {
    text-align: center;
}


.iframe, .iframe_sc {}

@media all and (max-width: 481px) {
    .iframe,
    .donate {
        width: 100%;
    }

    .iframe_sc {
        padding-left: 3px;
        padding-right: 3px;
    }

    .donate_text {
        text-align: left;
        padding: 0 3px;
    }

    .archive_link {
        text-decoration: none;
        display: block;
        margin-bottom: 20px;
        border: 2px solid black;
        padding: 10px 40px;
        color: black;
    }
}