.link {
  color: black;
  text-decoration: none;
}

.title {
  text-decoration: underline;
}

.subtitle {
  margin-bottom: 10px;
}

.footer {
  align-content: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.listen_cta_btn {
  display: inline-block;
  text-decoration: underline;
}
