.wrapper {
    max-width: 450px;
}

.audio {
    margin-bottom: 20px;
    width: 100%;
}

.text_wraper div>p {
    font-size: large;
}

.controls_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.controls_title {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.x_speed_control {
    line-height: 1;
    cursor: pointer;
    margin-left: 10px;
    border-bottom: 1px dotted black;
}

.comment_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment_date {
    font-size: smaller;
}

.comment_form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment_form_message_input {
    width: 100%;
    min-height: 100px;
}

.comment_form_submit_btn {
    padding: 10px 40px;
    border: 2px solid black;
    background-color: #f7df1d;
    margin: 10px 0;
}

@media all and (max-width: 481px) {
    .wrapper {
        width: 100%;
        padding: 0 3px;
    }

    .x_speed_control {
        margin: 0;
    }

    .controls_wrapper {
        justify-content: space-evenly;
    }
}
