.stats_wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stat_wrapper {
  margin: 0 1px 0 7px;
}

.stat_icon {
  margin-right: 3px;
  position: relative;
  top: 1px;
}

.stat_link {
  border-bottom: 1px dashed black;
  color: black;
  text-decoration: none;
}

.stat_link_none {
  border-bottom: none;
}

.download_link {
  border-bottom: 1px solid;
}
