body {
  background-color: #f7df1d;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.globalWrapper {
  background-image: url("/img/newLogo.png");
  background-repeat: repeat;
  background-size: 4em;
}

.newLogoAdded {
  background-color: rgba(255, 255, 255, 0.75);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  width: 450px;
}

.logo {
  background-clip: content-box;
  background-image: url("/img/safari-pinned-tab.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 4em;
  width: 9em;
}

.newLogo {
  background-image: url("/img/newLogo.png");
  height: 20em;
  width: 20em;
}

.nav_item {
  color: black;
  display: block;
  margin: 8px;
  padding: 10px 20px;
  text-decoration: none;
}

.nav_item_subscribe {
  border: 2px solid black;
  padding: 8px 20px;
}

.footer {
  border-top: 2px solid black;
  margin: 0 auto 20px;
  max-width: 450px;
  padding-top: 20px;
  text-align: center;
}

@media all and (max-width: 481px) {
  .footer {
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
    width: 100%;
  }

  .nav {
    justify-content: space-around;
    width: 100%;
  }

  .newLogo {
    height: 10em;
    width: 10em;
  }
}
