.share_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.share_btn_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
