.subscribe_wrapper {
  text-decoration: none;
  display: block;
  color: black;
  margin: 8px;
  border: 2px solid black;
  padding: 8px 20px;
}

.nav_item_subscribe_icon {
  position: relative;
  top: 1px;
}

.nav_item_subscribe_text {
  margin-left: 3px;
}
