.donate_wrapper {
  max-width: 450px;
}

.donate_text {
  margin-bottom: 10px;
}

@media all and (max-width: 481px) {
  .iframe {
    width: 100%;
  }

  .donate_wrapper {
    padding: 0 3px;
    text-align: left;
    width: 100%;
  }
}
